/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.h-screen-navbar {
  height: calc(
    100vh - 112px
  ); /* Adjust the height value based on your navbar height */
}

/* HTML marker styles */
.price-tag {
  background-color: #ff385c;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.price-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ff385c;
}

#profile_country_code {
  border: 1px solid #d1d5da;
  border-radius: 6px;
  height: 36px;
  margin-top: 8px;
  font-size: 14px;
  padding-top: 6px;
}

.swiper {
  width: 100%;
  aspect-ratio: 1/1;
}
